* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
input,
button {
  border: none;
  outline: none;
  line-height: 14px;
  font-size: 12px;
  padding: 12px 18px;
  border-radius: 2px;
}
