//responsive variables mobile first
$layout-breakpoint-xs: 0px;
$layout-breakpoint-sm: 768px;
$layout-breakpoint-md: 992px;
$layout-breakpoint-lg: 1200px;

$sub-font: "Caveat", cursive;
$main-font: "Poppins", sans-serif;

$fountain-blue: #53c3b5;
$monsoon: #777777;
